$mainColor: white;
$offsetColor: black;
$darkColor: black;

@keyframes slidein {
  from { left: -200%; opacity: .2}
  50% {left: -100%; opacity: .5}
  60% {left: -10%; opacity: .65}
  to   { left: -0%; opacity: .8 }
}

main.notFoundPage {
  & > .hero {
    grid-row: 1 / 20;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1530261411399-c28bd12eb2dd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=11224eecf7d403425e82b667b18567da&auto=format&fit=crop&w=1936&q=80");
    grid-column: 1 / 6;
    animation: 2.2s slidein;
    box-shadow: 2px 5px 19px gray;
    border: 1px dashed orange;
    border-radius: 4px;
    margin: 5px;
  }

  & > .content {
    grid-row: 20 / 45;
    grid-column: 1 / 6;
    color: $offsetColor;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    -webkit-transition: background 2s;
    transition: background 2s;
    box-shadow: 2px 5px 19px gray;
    background: #ffefba;
    background: -webkit-linear-gradient(to left, #ffefba, #ffffff);
    background: linear-gradient(to left, #ffefba, #ffffff);
    animation: 10s infinite slidein;
    opacity: 0.8;
    border: 1px dashed orange;
    border-radius: 4px;
    margin: 5px;
    & > .text {
      grid-row: 2;
      grid-column: 2 / 6;
      color: $offsetColor;
    }
  }

  & > .more {
    grid-row: 45 /75;
    grid-column: 1 / 6;
    background-color: $offsetColor;
    display: grid;
    -webkit-transition: background 2s;
    transition: background 2s;
    opacity: 0.7;
    box-shadow: 2px 5px 19px gray;
    border: 1px dashed orange;
    border-radius: 4px;
    margin: 5px;
  }
}

/** Page Not Found */